html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fffcf1;
    background-color: rgb(0, 0, 0);
}
.senaimage{
    max-width: 11%;
}
a {
    text-decoration: none;
    color: #fffcf1;
}
.content {
    margin-top: 3%;
}
/*
        tester content tool 
*/
.container-aptitudes {
    display: inline;
    text-align: center;
}
.container-aptitudes hr {
    width: 70%;
}
.aptitude-description-container {
    display: flex;
    justify-content: space-around;
}
.chat-div-container {
    display: inline;
    text-align: center;
}

.respon-container-flex {
    display: none;
}
.flex-box-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;

    background: rgba(33, 33, 33, 0.779);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    opacity: 0.99;

}
.pupUpMenuBar {
    display: none;
    align-items: center;
    text-align: center;
}
.respon-container-flex img {
    width: 5%;
    margin: 2%;
}
.flex-box-container-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.flex-box-container-body > p {
    font-size: 3vh;
    font-weight: 100;
    margin-top: 0.5vh;
}
.asidetitle {
    font-size: 3vh;
    font-weight: 500;
}
.aside-flex-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 3%;
}
.aside-flex-container img,
.description {
    width: 50%;
}
.description {
    margin: 5%;
}
.flex-box-container-body > hr {
    background-color: cornsilk;
    margin-top: 3%;
    width: 30%;
}
.menubar {
    padding: 20px;
    width:16%;
}
.lang{
    margin: 1%;
    width: 2%;
}
#hidelang{
    display: none;
}
.langmanu{
    width: 100%;
    display: none;
    
}
.langmenulanguages div{
    margin-left: 93%;
    display: flex;
    justify-content: space-around;
    width: 2%;
    padding: 2%;
    background-color: #202020;
    background: rgba(43, 43, 43, 0.779);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    opacity: 0.99;
}
.shareCon{
    white-space: pre-line;   
}
.langdropup {
    border-radius: 0px 0px 20px 20px;
}
.langdropup img{
    width: 50%;
}
.dropdownlangconainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    

    width: 96%;
    margin-left: 2%;
    border-radius: 20px;
    padding-bottom: 1.5vh;
    margin-top: 2%;

    background: rgba(43, 43, 43, 0.779);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    opacity: 0.99;
}
.langdropdown img{
    width: 13%;
}
.dropdownlangconainer a{
    width: 100%;
    padding: 5%;
}
.dropdownlang{
    width: 100%;
    display: none;
}
.menubar:hover {
    color: lightgrey;
}
.video-st {
    max-width: 80%;
    padding-top: 3%;
}
.menubar img {
    max-width: 5%;
}
.chat-div-containerdonut {
    display: inline;
    text-align: center;
    width: 90%;
}
.chat-div-containerDonut {
    margin-top: 3%;
    text-align: center;
}

.container-paichart {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#separator1{
    max-width: 40%;
}
#separator2{
    max-width: 50%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.aside-text-piechart {
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-self: center;
    align-content: center;
}
.container-paichart hr {
    display: none;
}
.aptitudes-title hr {
    width: 70%;
}
.aptitudes-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-content: center;
}
.aptitudes-list img{
    width: 25%;
}
.aptitudes-list-image{
    width: 25%;
}
#displayForOne img{
    width: 7%;
}
#displayForTwo img{
    width: 7%;
}
#displayForThree img{
    width: 7%;   
}
#displayForFour img{
    width: 7%;   
}
.size-up img{
    width: 3%;
}
.aptitude-One,.aptitude-Two,.aptitude-Three,.aptitude-Four {
    display: none;
}
.aptitudes-title{
    display: inline;
    text-align: center;
    justify-content: space-around;
}
.aptitudes-container {
    margin-top: 10%;
    margin-bottom: 10%;
}
nav {
position: fixed;
top: 0;
width: 100%;
}


.containe-experiences{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    justify-content: space-around;
    
}
.experiences{
    width: 90%;
    display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        align-content: center;
        margin: 3%;
        }
.experiences img{
    width: 45%;
    border-radius: 50px;
}
.experience-des-cont{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.experience-web-page{
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 1px white ;
    border-radius: 20px;
    background-color: none;
}
.experience-web-page:hover{
    border: solid 1px rgb(0, 0, 0) ;
    border-radius: 20px;
    color: black;
    background-color: rgb(59, 59, 59);
    transition-duration: 0.3s;
}

#phoneDisplay{
    display: none;
}

.education-container{
    width: 100%;
}
.education-description {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-content: center;    
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}
.des-edu-container{
    width: 30%;
}
.education-description img{
    width: 18%;
}
#sena {
    margin: 3%;
}
.des-edu-container button{
    max-width: 20%;
}
.project-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.project-works{
    width: 20%;
    border-radius: 50px;
    background-image: url("https://raw.githubusercontent.com/Cami170299/CurriculumVitaeCamiloSierraLozano/main/source/media/codebackground.PNG");
}
.project-works img{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;    
}
.dropdownmanushowphone{
    display: none;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input[type=text]{
    color: white;
}
input[type=email]{
    color: white;
}
input{
    transition-duration:1s ;
    background-color: black;
    border: none;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    min-width: 30%;
    border-bottom: 0.5px solid #8f8f8f;
    margin-top: 5% ;
} 

input:focus{
    background-color: rgb(56, 56, 56);
    border-bottom: 0.7px solid #ffffff;
    transition-duration:1s ;
    min-width: 50%;
}
.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.message-style{
 width: 100%;
 min-height: 300px;
 background-color: rgb(17, 17, 17);

}
.form-container-input {
    width: 50% ;
    margin-top: 5%;
}
.form-container-input button {
    background-color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 10%;
    transition-duration: 1s;
    margin: 20px 45% ;
}
.form-container-input button:hover {
    background-color: rgb(83, 83, 83);
}
.aptitudes-list-image div p{
    padding: 30px;
}
#sider1{
    grid-area: sider1;
}
#sider2{
    grid-area: sider2;
}
#sider3{
    grid-area: sider3;
    margin-top: 0px;
}
#sider3 iframe{
    min-height: 700px;
}

iframe{
    width: 100%;
    min-height: 400px;
    border-radius: 20px;
    border: 5px solid grey;
    margin-bottom: 5%;
}
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
#wideDisplay{
    width: 40%;
    height: 40vh;
}


/*------------ TAGS ----------*/

.tags {
	height: 200px;
	width: 200px;
/*	background-color: green;*/
	position: fixed;
	top: 80vh;
	right: 0;
  font-family: 'Roboto', sans-serif;
}

.tag {
	height: 40px;
	width: 100%;
	position: absolute;
	right: -150px;
	animation: tagIn 0.3s;
	color: white;
	font-size: 14px;
	text-align: center;
	line-height: 15px;
}

.tag1 {
	background-color: rgb(36, 36, 36);
}

.tag2 {
	background-color: rgb(36, 36, 36);
    margin-top: 45px;
}


.tagShort {
	width: 50px;
	height: 40px;
	/*background-color: yellow;*/
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tagLong {
	width: 150px;
	height: 40px;
	/*background-color: pink;*/
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}


.tag:hover {
	animation: tagOut 0.3s;
	right: 0px;
}

@keyframes tagOut {
  0% {
    right: -150px;
  }

  100% {
    right: 0;
  }

}

@keyframes tagIn {
  0% {
    right: 0;
  }

  100% {
    right: -150px;
  }

}

@media screen and (max-width: 750px) {
    .portfolio-container{
        display: grid ;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        align-items: center;
        justify-content: center;
        grid-template-areas: 
        "sider1 sider1"
        "sider2 sider2"
        "sider3 sider3";
    }
    html{
        scroll-behavior: smooth;
    }
    .aptitudes-list-image div p{
        padding: 0px;
    }
    .contact-container{
        max-width: 100%;
    }
    .form-container-input{
        min-width: 100%;
    }
    .form-input-holder{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .form-input-holder input{
        width: 90%;
    }
    .form-container-input button {
        background-color: rgb(194, 194, 194);
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        min-width: 10%;
        transition-duration: 1s;
        margin: 20px ;
    }
    .dropdownmanushowphone{
        width: 100%;
        display: none;
    }
    .drop-down-menu{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;

/*,.,.,.,.,.,.,.,.,.,.,.,.,.,.,.,..,.,.,.,.,.,.,.,.,.,.,..,.,.,.,.,.,.,.,.,.,.,..,.,.,.,.,.,.,.,.,.,.,..,.,.,.,.,.,.,.,.,.*/

        width: 96%;
        margin-left: 2%;
        border-radius: 20px;
        padding-bottom: 1.5vh;
        margin-top: 2%;

        background: rgba(43, 43, 43, 0.779);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        opacity: 0.99;
    }
    .menubar-dropdown{
        width: 100%;
        padding: 4%;
    }
    .senaimage{
        max-width: 30%;
    }
    .hidemenudropdown img{
        width: 13%;
    }
    
    .phone-display-none{
        display: none;
    }
    .project-container p{
        display: none;    
    }
    .project-works{
        width: 80%;
    }
    .education-description {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;    
        align-items: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .des-edu-container{
        width: 90%;
        margin: 5%;
    }
    .education-description img{
        width: 40%;
    }
    .des-edu-container button{
        max-width: 30%;
    }
    .containe-experiences{
        width: 100%;
        margin-top: 3%;
        margin-bottom: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .experience-web-page{
        width: 100%;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border: solid 1px white ;
        border-radius: 20px;
        background-color: none;
    }
    .experience-web-page:hover{
        border: solid 1px rgb(0, 0, 0) ;
        border-radius: 20px;
        color: black;
        background-color: rgb(59, 59, 59);
        transition-duration: 0.3s;
    }
    #phoneDisplay{
        display: inline;
    }
    #wideDisplay {
        display: none;
    }
    .experiences img{
        width: 100%;
        border-radius: 50px;
    }
    .experience-des-cont{
        width: 100%;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .experiences{
        width: 90%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        margin: 3%;
    }
    
    .content {
        margin-top: 20%;
    }
    .aptitudes-list-image{
        width: 35%;
        margin: 7%;
    }
    .aptitudes-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-content: center;
    }
    #chart_div-Pr {
        width: 100%;
    }
    .aptitude-description-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .dfkjgb {
        width: 100%;
    }
    #separator1{
        min-width: 100%;
    }
    #separator2{
        min-width: 80%;
    }
    .container-paichart {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .flex-box-container {
        display: none;
        background-color: rgb(59, 59, 59);
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        align-content: center;    
        background: rgba(23, 23, 23, 0.779);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        opacity: 0.99;
    }
    .tittle-resp-menu {
        width: 50%;
        font-size: 2.5vh;
    }
    .aside-flex-container {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .aside-flex-container img,
    .description {
        width: 100%;
    }

    /*.,.,.,.,.,.,.,.,,.,.,.,.,.,.,.,.,.,.,..,.,..,.,.,.,.,.,.,,.,..,....,.,.,.,.,.,..,.,.,.,.,.*/
    .respon-container-flex {
        position: fixed;
        top: 0;
        width: 96%;
        margin-left: 2%;
        margin-top: 2%;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;

        background: rgba(43, 43, 43, 0.779);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        opacity: 0.99;
    }
}
@media screen and (max-width: 820px){
    html{
        scroll-behavior: smooth;
    }
    .aptitudes-list-image{
        width: 70%;
        margin: 7%;
    }
}
footer {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    color:rgb(59, 59, 59);
}
footer a{
    font-size: 10px;
    color:rgb(59, 59, 59);
}
